* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Updated */
html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-black);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s, opacity 0.2s;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
